.box{
    display: flex;
    align-items: center;
    width: 85vw;
    height: 100vh;
    flex-direction: column;
    background-color: #EDEDED;
    margin-left: 17.5%;
    overflow-x: auto;
}
.quiz{
    font-size: 3.5rem;
    font-weight: 600;
    font-family: Poppins;
    color: #5076FF;
    margin-top: 4%;
}
.newbox{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap:0%
}
.title{
    width: 100%;
    background-color: #5076FF;
    height: 5vh;
    border-radius: 10px;
    margin-top: 2%;
    display: flex;
    flex-direction: row;
}
.write{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F4F4F4;
}
.title1{
    width: 100%;
    height: 5vh;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}
.write1{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    font-weight: 600;
    font-family: Poppins;
}
.write123{
    width: 18%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F4F4F4;
}
.write12{
    width: 18%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    font-weight: 600;
    font-family: Poppins;
}
.write2{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    text-decoration: underline;
    font-weight: 600;
    font-family: Poppins;
}
.box1{
    width: 88%;
    margin-top: 4%;
    display: flex;
    flex-direction: row;
}
.quizName{
    color: #5076FF;
    font-size: 3rem;
    width: 80%;
    font-weight: 600;
    font-family: Poppins;
}
.time{
    color: #FF5D01;
}
.question{
    width: 88%;
    margin-top: 4%;
    font-size: 2rem;
    font-weight: 600;
    font-family: Poppins;
    color: #474444;
}
.allbox{
    width: 88%;
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    gap: 5%;
}
.ans{
    width: 30%;
    height: 14vh;
    background-color: #FFFFFF;
}
.line{
    width: 88%;
    margin-top: 3%;
}
.text{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: #474444;
}
.digit{
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    color: #474444;
    align-items: center;
}
.option{
    width: 20%;
    height: 18vh;
    background-color: #FFFFFF;
    display: flex;
}
.digit1{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #474444;
}
.text1{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: #474444;
}
.deleteQuiz{
    background-color:#000000CF;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.white{
    width: 50%;
    height: 40%;
    background-color:#FFFFFF;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.deleteText{
    font-size: 2rem;
    font-weight: 600;
    font-family: Poppins;
    margin-top: 8%;
    color: #474444;
}
.deleteText1{
    font-size: 2rem;
    font-weight: 600;
    font-family: Poppins;
    color: #474444;
}
.deletecancel{
    width: 80%;
    display: flex;
    flex-direction: row;
    margin-top: 4%;
}
.delete2{
    width: 40%;
    height: 5vh;
    background-color: #FF4B4B;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 600;
    font-family: Poppins;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
}
.cancel1{
    width: 40%;
    height: 5vh;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 0px #00000040;
    font-size: 1rem;
    font-weight: 600;
    font-family: Poppins;
    color: #474444;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
}
.down{
    margin-bottom: 2%;
}
@media only screen and (max-width: 900px){
    .box{
        width: 90vw;
        margin-left: 25vw;
    }
    .text{
        font-size: 0.7rem;
    }
}
@media only screen and (max-width: 600px){
    .box{
        width: 120vw;
        margin-left: 28vw;
    }
    .text{
        font-size: 0.1rem;
    }
    .write{
        font-size: 0.8rem;
    }
    .write123{
        font-size: 0.8rem;
    }
    .write1{
        font-size: 0.5rem;
    }
    .write12{
        font-size: 0.5rem;
    }
    .write2{
        font-size: 0.5rem;
        margin-left: 2%;
    }
    .deleteText{
        font-size: 1rem;
    }
    .deleteText1{
        font-size: 1rem;
    }
    .white{
        height: 20%;
    }
    .delete2{
        font-size: 0.5rem;
    }
    .cancel1{
        font-size: 0.5rem;
    }
    .time{
        font-size: 1rem;
    }
    .quizName{
        font-size: 2rem;
    }
    .question{
        font-size: 1rem;
    }
}
@media only screen and (max-width: 1200px){
    
    .text{
        font-size: 0.8rem;
    }
}