.b{
    width: 100%;
    height: 100vh;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.box{
    width:80%;
    height: 80%;
    background-color:  #FFFFFF;
    display: flex;
    
    align-items: center;
    flex-direction: column;
}
.quizz{
    font-family: Jomhuria;
    font-size: 6rem;
    font-weight: 400; 
    color: #474444;
}
.sign{
    width: 30%;
    height: 6%;
}
.button1{
    width: 50%;
    height: 100%; 
    background-color:  #FFFFFF;
    border: none;
    color: #474444;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 10px;
}
.button2{
    width: 50%;
    height: 100%;
    border-radius: 10px;
    color: #474444;
    background-color:  #FFFFFF;
    border: none;
    font-size: 1rem;
    font-weight: 600;
}

.text{
    width: 50%;
    display: flex;
    margin-top: 2%;
    gap: 10%;
}
.text1{
    width: 35%;
    display: flex;
    align-items: end;
    flex-direction: column;
    margin-top: 5%;
}
.label{
    font-size: 1.1rem;
    font-weight: 600;
    margin-top: 3%;
    color: #474444;
}
.label1{
    font-size: 1.1rem;
    font-weight: 600;
    margin-top: 10%;
    color: #474444;
}
.label2{
    font-size: 1.1rem;
    font-weight: 600;
    margin-top: 10%;
    color: #474444;
}
.label3{
    font-size: 1.1rem;
    font-weight: 600;
    margin-top: 10%;
    color: #474444;
}
.input{
    width: 18vw;
    margin-top: 5%;
}
.in{
    width: 20vw;
    height: 4vh;
    border-radius:10px, 10px, 0px, 0px ;
    border:0px, 0px, 2px, 0px ;
    background: #F4F4F4;
    border: none;
    border-radius: 4px;
    margin-top: 3%;
    color: #474444;
    
}
.in_new{
    width: 20vw;
    height: 4vh;
    border-radius:10px, 10px, 0px, 0px ;
    border:0px, 0px, 2px, 0px ;
    background: #F4F4F4;
    border-color:#D60000 ;
    border-radius: 8px;
    margin-top: 3%;
    color: #474444;
}
.in_new::placeholder{
    color: #D60000;
}
.in_new1{
    width: 20vw;
    height: 4vh;
    border-radius:10px, 10px, 0px, 0px ;
    border:0px, 0px, 2px, 0px ;
    background: #F4F4F4;
    border-color:#D60000 ;
    border-radius: 8px;
    margin-top: 7%;
    color: #474444;
}
.in_new1::placeholder{
    color: #D60000;
}
.in_new2{
    width: 20vw;
    height: 4vh;
    border-radius:10px, 10px, 0px, 0px ;
    border:0px, 0px, 2px, 0px ;
    background: #F4F4F4;
    border-color:#D60000 ;
    border-radius: 8px;
    margin-top: 7%;
    color: #474444;
}
.in_new2::placeholder{
    color: #D60000;
}
.in_new3{
    width: 20vw;
    height: 4vh;
    border-radius:10px, 10px, 0px, 0px ;
    border:0px, 0px, 2px, 0px ;
    background: #F4F4F4;
    border-color:#D60000 ;
    border-radius: 8px;
    margin-top: 7%;
    color: #474444;
}
.in_new3::placeholder{
    color: #D60000;
}
.in1{
    width: 20vw;
    height: 4vh;
    border-radius:10px, 10px, 0px, 0px ;
    border:0px, 0px, 2px, 0px ;
    background: #F4F4F4;
    border: none;
    margin-top: 7%;
    border-radius: 4px;
    color: #474444;
}
.in2{
    width: 20vw;
    height: 4vh;
    border-radius:10px, 10px, 0px, 0px ;
    border:0px, 0px, 2px, 0px ;
    background: #F4F4F4;
    border: none;
    margin-top: 7%;
    border-radius: 4px;
    color: #474444;
}
.in3{
    width: 20vw;
    height: 4vh;
    border-radius:10px, 10px, 0px, 0px ;
    border:0px, 0px, 2px, 0px ;
    background: #F4F4F4;
    border: none;
    margin-top: 7%;
    border-radius: 4px;
    color: #474444;
}
.signin{
    background-color: #A9BCFF;
    width: 18%;
    height: 6%;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #474444;
    font-weight: 600;
    margin-top: 5%;
}